{% extends "layout.html" %}

{% block title %}Etsi lookkeja{% endblock %}

{% block content %}

<h2>Etsi lookkia</h2>

<!-- Lisää viel mistä voi valita kategoria -->

<p> </p>

<form action="/find_look" method="get">
	<p>
		Hakusana : <input type="text" name="query" value="{{ query }}"> <br />
		<!--
		Kategoria : (ei toimi vielä, älä laita) <br />
		<select name="Kategoria" id="ok">
			<option value="valitse">Valitse</option>
			<option value="arkimeikki">Arkimeikki</option>
			<option value="juhlameikki">Juhlameikki</option>
			<option value="alakulttuurit">Alakulttuurit</option>
			<option value="maskeeraus">Maskeeraus</option>
			<option value="muu">Muu</option>
			-->
	<br /> <input type="submit" value="Etsi"></p>
</form>

{% if query %}
<h2>Lookit</h2>

<ul>
	{% for look in results %}
	<li><a href="/look/{{ look.id }}">{{ look.title }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}