{% extends "layout.html" %}

{% block title %}Etsi lookkeja{% endblock %}

{% block content %}

<h2>{{ look.title }}</h2>

<p>
  Lookki sisältää {{ images | count }} kuvaa.
</p>

<h2>Lisää uusi kuva</h2>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Kuva: <input type="file" name="image" accept=".jpg" />
  </p>
  <input type="hidden" name="look_id" value="{{ look.id }}">
  <input type="submit" value="Lisää kuva" />
</form>

<form action="/remove_images" method="post">
  {% for image in images %}
  <input type="checkbox" name="image_id" value="{{ image.id }}">
  <img src="/image/{{ image.id }}" />
  <br />
  {% endfor %}
  <input type="hidden" name="look_id" value="{{ look.id }}">
  <p>
    <input type="submit" value="Poista valitut kuvat" />
  </p>
</form>

<a href="/look/{{ look.id }}">
  <button type="button">Palaa lookkiin</button>
</a>

{% endblock %}
