<!DOCTYPE html>
<html>

<head>
  <title>Meikkilookit</title>
</head>

<body>
	<h1>Meikkilookit</h1>
  {% if session.username %}
  <p>
    Tervetuloa {{ session.username }}, id-numerosi on {{ session.user_id }}
  </p>
    <p>
	  <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
	<a href="/new_look">Luo uusi lookki</a>
  </p>
  {% else %}
    <p>
	  <a href="/register">Luo tunnus</a>
	  <a href="/login">Kirjaudu sisään</a>
  </p>
  {% endif %}

  <p>
	<a href="/find_look">Hae lookkia</a>
  </p>

  <h2>Julkaistut lookit</h2>
  <ul>
  {% for look in looks %}
  <li><a href="/look/{{ look.id }}">{{ look.title }}</a></li>
  {% endfor %}
  </ul>

</body>

</html>
