<!DOCTYPE html>
<html>

<head>
  <title>Uusi lookki</title>
</head>

<body>
	<h1>Uusi lookki</h1>
  <form action="/create_look" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    {% for class in classes %}
    <p>
		{{ class }}: <br />
		<select name="classes">
			<option value="">valitse</option>
		{% for option in classes[class] %}
			<option value={{ class }}:{{ option }}>{{ option }}</option>
		{% endfor %}
		</select>
    </p>
    {% endfor %}
    <p>
    Kuvaus: <br /> 
    <textarea name="description" rows="8" cols="60" maxlength="1000"></textarea>
    </p>

<!-- PLACEHOLDER FOR MAKEUP PRODUCTS, different inputs for eye, lip,
face, etc products orr ? -->
    <p>
    Meikit: <br />
    <input type="text" name="makeup" />    
    </p>
    <input type="submit" value="Luo lookki" />
  </form>
</body>

</html>
