{% extends "layout.html" %}

{% block title %} {{ user.username }}n profiili {% endblock %}

{% block content %}

<h2>Bämän {{ user.username }} profiili</h2>

{% if session.user_id == user.id %}

<h3><a href="/edit_profile/{{ user.id }}">Hallitse profiilia</a></h3>

{% endif %}
<p>
	{% if user.profile_picture %}
	<img src="/profile_picture/{{ user.id }}" />
	{% else %}
    <img src="/static/pictures/default_user.jpeg" />
    {% endif %}
</p>

<p>
	Liittynyt bämäksi {{ user.created_at }} <br />
	Yhteensä {{ looks | count }} julkaistua lookkia.
</p>
<h3>Julkaistut lookit</h3>

<ul>
	{% for look in looks %}
	<a href="/look/{{ look.id }}">{{ look.title }}</a><br>
	{% endfor %}
</ul>

{% endblock %}