<!DOCTYPE html>
<html>

<head>
  <title>{{ look.title }}</title>
</head>

<body>
	<h1>{{ look.title }}</h1>
	{% if session.user_id == look.user_id %}
	<p>
		<a href="/edit_look/{{ look.id }}">Muokkaa lookkiasi</a>
		<a href="/remove_look/{{ look.id }}">Poista lookkisi</a>
	</p>
		{% endif %}
	{% if classes %}
	<p>
		<ul>
			{% for class in classes %}
			<li>{{ class.title }} - {{ class.value }}</li>
			{% endfor %}
		</ul>
	</p>
	{% endif %}
	<p>
		{{ look.description }}
	</p>

	<p>
		Käytetyt meikit - {{ look.makeup }}
	</p>
	<p>
		Meikkiartisti - <a href="/user/{{ look.user_id }}">
		{{ look.username }}</a>
	</p>
	<p>
		<a href="/">Etusivulle</a>
	</p>
</body>

</html>
